%script{:src => "/javascripts/clipboard.min.js", :type => "text/javascript"}
%div
  %p clipboard.js实现复制黏贴,表头浮动
= will_paginate @articles
#scroll{:style => "width:100%;position:relative;clear: both"}
  / 浮动表头
  %table#box_title.order-table{:border => "1", :cellpadding => "0", :cellspacing => "0", :style => "position:absolute;left:0;top:0;z-index:9;display: none;", :width => "100%"}
    = content_tag(:tr,Article.list_fields.collect{|title| content_tag(:th,title)}.join.html_safe)
  %table#report{:border => "1", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    = content_tag(:tr,Article.list_fields.collect{|title| content_tag(:th,title)}.join.html_safe)
    - @articles.each do |article|
      %tr
        %td= article.title
        %td
          %span.btn{"data-clipboard-text" => "#{article.content}", :onclick => "copy(this)", :style => "cursor:pointer;", :title => "点击复制"}= truncate(article.content,length: 300)
          %span{:style => "color:red;display: none;"} 已复制！
:javascript
  $(document).ready(function(){
    var clipboard = new Clipboard('.btn'); 
  });
  
  function copy(obj){
    $(obj).next().show();
    setTimeout(function(){$(obj).next().hide()},500);
  
  }
  var scroll_box = $('#scroll'), box_title = $('#box_title');
  window.onload = function () {
    mod_title_width();
  };
  window.onscroll = function () {
    var d = document.body || document.documentElement;
    var s_top = d.scrollTop, b_top = scroll_box.offset().top;
    if (b_top < s_top) {
      box_title.css({display: '', top: s_top - b_top})
    } else {
      box_title.css({display: 'none'})
    }
  };
  
  function mod_title_width() {
    var std_tr = $('#report tr:first');
    var mod_tr = $('#box_title tr:first');
    var len = std_tr.find('th').length;
    for (var i = 1; i <= len; i++) {
      mod_tr.find('th:nth-child(' + i + ')').width(std_tr.find('th:nth-child(' + i + ')').width())
    }
  }
